<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28807731044-utjcflneelia45a2lcah2skfi9vgr7bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28807731044-utjcflneelia45a2lcah2skfi9vgr7bi</string>
	<key>API_KEY</key>
	<string>AIzaSyBRaOjhXVW5fCLnO3xQ-ynaD7dvYGS6wfg</string>
	<key>GCM_SENDER_ID</key>
	<string>28807731044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flopps</string>
	<key>PROJECT_ID</key>
	<string>athenas-307b8</string>
	<key>STORAGE_BUCKET</key>
	<string>athenas-307b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28807731044:ios:e695115699c3da49d90c71</string>
</dict>
</plist>